@font-face {
  font-family: "icon-lokep-editor"; /* Project id 4323922 */
  src: url('//at.alicdn.com/t/c/font_4323922_602tth0rbhq.woff2?t=1766470571752') format('woff2'),
       url('//at.alicdn.com/t/c/font_4323922_602tth0rbhq.woff?t=1766470571752') format('woff'),
       url('//at.alicdn.com/t/c/font_4323922_602tth0rbhq.ttf?t=1766470571752') format('truetype');
}

.icon-lokep-editor {
  font-family: "icon-lokep-editor" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-line-quillpenyumaobi:before {
  content: "\e6eb";
}

.icon-a-zu1695:before {
  content: "\e6b4";
}

.icon-fenxiang:before {
  content: "\e687";
}

.icon-icon_kuangxuanQuery:before {
  content: "\e667";
}

.icon-a-14Cjietu:before {
  content: "\e679";
}

.icon-flomo:before {
  content: "\e666";
}

.icon-icon-bofang:before {
  content: "\e663";
}

.icon-bofang:before {
  content: "\e664";
}

.icon-audio:before {
  content: "\e718";
}

.icon-video:before {
  content: "\e662";
}

.icon-media-library:before {
  content: "\e693";
}

.icon-daohang:before {
  content: "\e665";
}

.icon-bubble-:before {
  content: "\e661";
}

.icon-bubble_left:before {
  content: "\e7eb";
}

.icon-share:before {
  content: "\e65e";
}

.icon-letter:before {
  content: "\e65f";
}

.icon-gift:before {
  content: "\e660";
}

.icon-Notebook:before {
  content: "\ead8";
}

.icon-notebook-zhouzhi:before {
  content: "\e65c";
}

.icon-user:before {
  content: "\e65d";
}

.icon-add-plus:before {
  content: "\e600";
}

.icon-add-queue:before {
  content: "\e601";
}

.icon-add-plus-circle:before {
  content: "\e602";
}

.icon-checkbox-uncheck:before {
  content: "\e603";
}

.icon-close-circle:before {
  content: "\e604";
}

.icon-combine-cells:before {
  content: "\e605";
}

.icon-double-quotes-left:before {
  content: "\e606";
}

.icon-columns:before {
  content: "\e607";
}

.icon-close-square:before {
  content: "\e608";
}

.icon-add-row:before {
  content: "\e609";
}

.icon-add-column:before {
  content: "\e60a";
}

.icon-copy:before {
  content: "\e60b";
}

.icon-add-plus-square:before {
  content: "\e60c";
}

.icon-edit-pencil-line-02:before {
  content: "\e60d";
}

.icon-add-minus-square:before {
  content: "\e60e";
}

.icon-heading-h1:before {
  content: "\e60f";
}

.icon-clean:before {
  content: "\e610";
}

.icon-crop:before {
  content: "\e611";
}

.icon-clock-in:before {
  content: "\e612";
}

.icon-heading-h2:before {
  content: "\e613";
}

.icon-delete-row:before {
  content: "\e614";
}

.icon-bold:before {
  content: "\e615";
}

.icon-heading-h4:before {
  content: "\e616";
}

.icon-expand:before {
  content: "\e617";
}

.icon-image:before {
  content: "\e618";
}

.icon-italic:before {
  content: "\e619";
}

.icon-link-break:before {
  content: "\e61a";
}

.icon-list-remove:before {
  content: "\e61b";
}

.icon-delete-column:before {
  content: "\e61c";
}

.icon-edit-pencil-02:before {
  content: "\e61d";
}

.icon-select-multi:before {
  content: "\e61e";
}

.icon-edit-pencil-01:before {
  content: "\e61f";
}

.icon-mention-at:before {
  content: "\e620";
}

.icon-component:before {
  content: "\e621";
}

.icon-heading-h6:before {
  content: "\e622";
}

.icon-more-grid-big:before {
  content: "\e623";
}

.icon-paragraph:before {
  content: "\e624";
}

.icon-undo-circle:before {
  content: "\e625";
}

.icon-single-quotes-right:before {
  content: "\e626";
}

.icon-list-disorder:before {
  content: "\e627";
}

.icon-paperclip-attechment-tilt:before {
  content: "\e628";
}

.icon-ruler:before {
  content: "\e629";
}

.icon-move-vertical:before {
  content: "\e62a";
}

.icon-redo-circle:before {
  content: "\e62b";
}

.icon-code-block:before {
  content: "\e62c";
}

.icon-more-grid-small:before {
  content: "\e62d";
}

.icon-text-align-center:before {
  content: "\e62e";
}

.icon-redo:before {
  content: "\e62f";
}

.icon-underline:before {
  content: "\e630";
}

.icon-undo:before {
  content: "\e631";
}

.icon-edit-pencil-line-01:before {
  content: "\e632";
}

.icon-list-check:before {
  content: "\e633";
}

.icon-rows:before {
  content: "\e634";
}

.icon-font:before {
  content: "\e635";
}

.icon-swatches-palette:before {
  content: "\e636";
}

.icon-vote:before {
  content: "\e637";
}

.icon-hide:before {
  content: "\e638";
}

.icon-double-quotes-right:before {
  content: "\e639";
}

.icon-heading:before {
  content: "\e63a";
}

.icon-list-order:before {
  content: "\e63b";
}

.icon-remove-minus:before {
  content: "\e63c";
}

.icon-table-add:before {
  content: "\e63d";
}

.icon-text:before {
  content: "\e63e";
}

.icon-strikethrough:before {
  content: "\e63f";
}

.icon-heading-h3:before {
  content: "\e640";
}

.icon-layer:before {
  content: "\e641";
}

.icon-paperclip-attechment-horizontal:before {
  content: "\e642";
}

.icon-list-add:before {
  content: "\e643";
}

.icon-layers:before {
  content: "\e644";
}

.icon-text-align-justify:before {
  content: "\e645";
}

.icon-path:before {
  content: "\e646";
}

.icon-move:before {
  content: "\e647";
}

.icon-link:before {
  content: "\e648";
}

.icon-table:before {
  content: "\e649";
}

.icon-sort-descending:before {
  content: "\e64a";
}

.icon-table-remove:before {
  content: "\e64b";
}

.icon-text-align-left:before {
  content: "\e64c";
}

.icon-heading-h5:before {
  content: "\e64d";
}

.icon-sort-ascending:before {
  content: "\e64e";
}

.icon-single-quotes-left:before {
  content: "\e64f";
}

.icon-list-checked:before {
  content: "\e650";
}

.icon-move-horizontal:before {
  content: "\e651";
}

.icon-remove-minus-circle:before {
  content: "\e652";
}

.icon-shrink:before {
  content: "\e653";
}

.icon-text-align-right:before {
  content: "\e654";
}

.icon-bg-color:before {
  content: "\e655";
}

.icon-checkbox-check-fill:before {
  content: "\e656";
}

.icon-show:before {
  content: "\e657";
}

.icon-painter:before {
  content: "\e658";
}

.icon-code-inline:before {
  content: "\e659";
}

.icon-font-color:before {
  content: "\e65a";
}

.icon-select-multi1:before {
  content: "\e65b";
}
